*{
    margin: 0;
    padding: 0;
    color: grey;
}

body
{
    font-family: sans-serif;
}

#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar{
    background-color: aliceblue;
    padding: 0 !important;
}

.navbar-brand img{
  height: 50px;
  padding-left: 20px;
}

.navbar-nav li{
  padding: 0 10px;
}

.navbar-nav li a{
  color: rgb(8, 8, 8) !important;
  font-weight:600;
  /* float:left;
  text-align: left; */
}
/*--------Banner Section CSS---------*/
#banner{
  background-color: aliceblue;
  color: black;
  padding-top: 5%;
}

.promo-title{
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}


/* .bottom-img{
  width: 50%;
} */


/*--------Purpose Section CSS---------*/

#purpose{
  background-color: aliceblue;
  padding-bottom: 50px;
  padding-top: 50px ;
  /* margin-top: 20px; */
}

.purpose-image img{
  width: 250px;
  height: 300px;
  border-radius: 10px;
  transition: 0.5s;
  margin-left: 70px;
  margin-top: 100px;
}

.purpose-image a:hover img{
  transform: translateY(-10px);
}

.hover-img{
  display: inline-block;
}

.hover-img:hover img{
  transform: translateY(-10px);
}


/*--------Testimonial Section CSS---------*/

#testimonial{
  background-color: aliceblue;
  padding-top: 50px;
  padding-bottom: 50px;
  /* margin-top: 20px; */
}
/* .card{
  height: 400px;
  width: 200px;
  
} */

.col{
  margin-left: 0;
}

.carousel-temp {
  background-image: url("assets/images/arrow-right.png");
}

/* .card-text{
  /* font-style: italic; */
  /* font-family:
} */

.card-body p{
  font-weight: bolder;
  color: #212529;
}


/*--------contact Section CSS---------*/
#contact{
 background-color: aliceblue;
  padding-top: 50px;
  padding-bottom: 50px;
  /* margin-top: 20px; */
}

.contact-form{
  padding-top: 15px;
  margin-top: 10px;
}

.form-control{
  border-radius: 0 !important;
  border:none !important;
  margin-top: 10px;
}

::placeholder{
  color: rgb(41, 40, 40) !important;
}

.follow{
  background-color: aliceblue;
  padding: 5px;
  margin-top: 40px;
  font-size: 30px;
}


/*--------footer Section CSS---------*/

footer {
  background: #212529;
  text-decoration: none;
}

